{% extends 'base.html' %}

{% block title %} {{ micreq.title|truncatechars:20 }} - {{ block.super }} {% endblock %}

{% block content %}
	<h1>
		{{ micreq.title }}
	</h1>
	<h1 id="count">
		{{ entries.count }} out of {{ micreq.quantity }} entries
	</h1>
	<h2 id="status">
 		Status: {{ micreq.status }}
	</h2>
	<p>
		Request data: {{ micreq.data_request|date:"d.m.Y"|default_if_none:"" }}
 					  {{ micreq.data_request|time:"H:i:s"|default_if_none:"" }}
	<br>
		Begin data: {{ micreq.data_accept|date:"d.m.Y"|default_if_none:"" }} 
					{{ micreq.data_accept|date:"H.i.s"|default_if_none:"" }}
	<br>
		End data: {{ micreq.data_completed|date:"d.m.Y"|default_if_none:"" }}
				  {{ micreq.data_completed|time:"H:i:s"|default_if_none:"" }}
	</p>

	<img id='img' src="data:image/png;base64,{{ uri }}" alt="" height="500",width="500">	
{% endblock %}
{% block script %}
	<script>
		var id;
		function update(){
			$.ajax({
				url: '{{ micreq.get_absolute_url }}',
				type: 'get',
				async: true,
				success: function(response){
				$("#img").attr('src', "data:image/png;base64," + response.uri)
                $("#count").text(response.count + " out of {{ micreq.quantity }} entries")
                $("#status").text("Status: "+ response.status)
                if (response.status == "completed"){
                    clearInterval(id)
                }
            }
        });
    }
    $(document).ready(function(){
        id = setInterval("update()", {{ fps }});
    });
	</script>
{% endblock %}

